# Confidence intervals

## Import the modules

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as st
import math as m
import statsmodels.stats.api as sm

## Import helper function

In [2]:
import helper
import importlib

In [8]:
importlib.reload(helper)
helper.load_files()

## import data

In [11]:
df_pizza = pd.read_csv("pizza_restaurant.csv")
df_pizza.head()

,Product Name,Crust,Toppings,Price,Delivery Time,# pizzas the customer ordered before
0,Pepperoni,Cheese_and_Garlic,4,17,26.3,4
1,Hawaiian,Cheese_and_Chili,4,17,27.8,4
2,Calzone,Cheese_and_Garlic,3,20,31.5,7
3,Margherita,Cheese,4,23,20.8,7
4,Calzone,Cheese_and_Garlic,4,19,27.7,8

In [13]:
df_pizza.describe()

,Toppings,Price,Delivery Time,# pizzas the customer ordered before
count,1000.000000,1000.000000,1000.000000,1000.000000
mean,3.965000,19.342000,25.061100,5.659000
std,1.021185,3.345479,2.490397,2.459831
min,1.000000,12.000000,17.800000,0.000000
25%,3.000000,17.000000,23.300000,4.000000
50%,4.000000,19.000000,25.100000,5.000000
75%,5.000000,21.000000,26.700000,7.000000
max,7.000000,33.000000,32.400000,15.000000

In [24]:
df_pizza.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Product Name                          1000 non-null   object
 1   Crust                                 1000 non-null   object
 2   Toppings                              1000 non-null   int64
 3   Price                                 1000 non-null   int64
 4   Delivery Time                         1000 non-null   float64
 5   # pizzas the customer ordered before  1000 non-null   int64
dtypes: float64(1), int64(3), object(2)
memory usage: 47.0+ KB

## Standard Error of the sample mean (SE)
$$ SE = \frac{\sigma}{\sqrt{n}} $$

In [17]:
# let's do an example with the Price:
se_price = df_pizza.Price.std()/np.sqrt(df_pizza.Price.count())
print(f"The SE of the Price is {se_price:.2f}")

The SE of the Price is 0.11

In [19]:
# let's use a function:
se_price2 = st.sem(df_pizza.Price)
print(f"The SE of the Price is {se_price2:.2f}")

The SE of the Price is 0.11

## Z-score and standardization

In [20]:
df_pizza.head(2)

,Product Name,Crust,Toppings,Price,Delivery Time,# pizzas the customer ordered before
0,Pepperoni,Cheese_and_Garlic,4,17,26.3,4
1,Hawaiian,Cheese_and_Chili,4,17,27.8,4

In [22]:
# using the formula: z = (x - mean)/std
z_score = (df_pizza["Delivery Time"]-df_pizza["Delivery Time"].mean())/df_pizza["Delivery Time"].std()
print(f"the z-score of the delivery time is {z_score}")

the z-score of the delivery time is 0      0.497471
1      1.099784
2      2.585491
3     -1.711012
4      1.059630
         ...
995    1.139939
996    2.023332
997    1.059630
998   -0.988236
999    0.095928
Name: Delivery Time, Length: 1000, dtype: float64

In [27]:
# Using sklearn
from sklearn import preprocessing
z_score2 = preprocessing.scale(df_pizza["Delivery Time"])
print(f"the z-score of the delivery time is {z_score2}")

the z-score of the delivery time is [ 0.49771974  1.10033465  2.58678476 -1.71186826  1.06016032 -0.66733575
  1.06016032 -1.0289047   0.01562781 -0.06472084  0.77894003 -0.74768441
  1.9038212  -1.51099662 -0.78785873 -2.11361153 -1.87256557 -0.18524382
  0.33702243 -0.5869871  -0.82803306 -1.35029932 -0.02454651  0.05580214
  0.33702243 -0.78785873 -0.26559248 -0.62716142  0.2968481  -1.26995066
  1.06016032 -2.07343721  1.50207792  1.019986    1.50207792  0.37719676
 -0.42628979  1.38155494  1.58242658 -0.66733575  2.02434418  0.65841705
 -0.22541815  0.2968481   1.62260091  0.61824272 -1.06907902 -0.78785873
  0.41737109  0.41737109  1.62260091 -0.86820739  0.05580214  2.58678476
 -0.78785873  1.94399552 -0.70751008 -0.10489517  0.01562781  0.01562781
  0.1361508  -0.06472084 -0.5869871   0.21649945  1.38155494  0.61824272
  1.62260091 -1.67169393 -0.5869871   0.7387657  -0.46646411  0.01562781
 -1.14942768  0.77894003  0.93963734  2.42608745 -0.30576681 -0.90838171
  1.18068331  1.38155494 -0.90838171 -0.1450695   1.26103196 -0.30576681
  0.09597647  0.61824272  0.65841705 -0.34594113  0.49771974 -0.34594113
  0.97981167  0.69859138  1.019986    0.21649945 -0.22541815  1.019986
 -1.10925335 -0.42628979  1.30120629 -1.55117095  1.54225225  1.94399552
  0.01562781 -1.26995066  1.10033465 -0.06472084 -2.07343721 -0.22541815
  0.01562781  0.49771974  0.7387657   0.01562781  0.97981167  1.06016032
  0.21649945  0.53789407  0.45754541 -1.0289047  -1.39047364 -0.90838171
 -0.90838171 -0.54681277 -1.95291422 -1.18960201 -2.27430884 -1.31012499
  0.41737109 -1.22977633 -0.18524382  0.01562781 -0.46646411 -0.42628979
 -0.30576681 -0.86820739 -0.62716142  0.05580214  1.78329822  0.85928869
 -0.74768441  0.1361508  -1.71186826  0.5780684   1.06016032 -0.38611546
 -1.06907902  0.41737109 -0.42628979 -0.30576681  0.45754541  1.30120629
 -0.86820739  0.81911436  0.69859138 -0.82803306 -0.42628979  0.05580214
  0.65841705  1.86364687  0.61824272  0.09597647 -0.5869871   0.5780684
  0.89946301  1.18068331 -0.66733575 -2.03326288 -0.18524382 -0.10489517
  1.62260091 -0.78785873 -0.46646411 -1.63151961 -0.54681277 -0.22541815
 -0.1450695  -1.22977633 -1.71186826 -1.0289047  -0.98873037 -1.22977633
 -0.90838171  0.33702243  0.2968481  -0.18524382 -2.07343721  0.5780684
 -0.26559248 -2.7965751  -2.67605212 -0.74768441 -0.26559248  0.25667378
 -0.06472084 -0.90838171 -1.35029932 -1.14942768  1.42172927  1.34138061
 -0.42628979 -0.22541815  1.86364687 -1.0289047   0.21649945  0.2968481
 -0.54681277 -1.31012499 -1.55117095 -0.70751008  1.14050898  0.65841705
  0.5780684   0.37719676  1.78329822  0.41737109 -0.46646411  0.01562781
 -1.06907902 -0.06472084  0.5780684   0.1361508  -0.50663844 -0.10489517
  0.61824272  0.97981167 -1.83239124 -0.1450695  -0.06472084 -0.74768441
  0.89946301  0.2968481   0.37719676  0.01562781  0.69859138 -0.46646411
  1.34138061  0.89946301 -0.30576681  0.17632512  0.2968481   1.30120629
 -0.38611546 -2.31448317 -1.31012499  0.65841705 -0.10489517 -1.06907902
 -0.50663844  0.45754541 -0.18524382 -0.26559248 -0.74768441  0.5780684
  0.97981167  0.81911436  0.01562781  0.33702243 -0.10489517 -0.86820739
 -0.74768441  0.89946301 -0.34594113 -0.18524382  2.02434418 -0.50663844
  1.30120629 -0.90838171  0.7387657  -1.43064797  0.33702243 -0.54681277
 -0.22541815 -0.98873037 -0.06472084  0.41737109 -0.30576681 -1.39047364
  0.09597647 -0.98873037 -2.23413452  0.53789407  1.58242658  1.62260091
  0.41737109 -1.79221692  1.38155494  1.06016032  0.93963734  0.97981167
  0.61824272 -0.54681277 -0.42628979 -0.70751008  1.50207792  2.70730774
  0.05580214 -0.94855604  0.33702243  1.38155494 -0.82803306  0.77894003
  0.2968481  -0.50663844 -0.46646411  0.49771974  0.7387657  -0.78785873
 -1.06907902  1.30120629  0.33702243  0.21649945  1.18068331  0.37719676
  0.21649945 -0.5869871  -0.70751008 -0.90838171  0.69859138  0.01562781
 -0.66733575 -1.43064797  0.2968481  -0.42628979  0.2968481  -0.78785873
  1.10033465 -0.90838171  1.70294956  1.019986    0.97981167 -0.70751008
  0.2968481   1.62260091 -0.26559248  0.65841705 -0.46646411 -0.1450695
 -1.18960201  1.18068331 -1.18960201  0.65841705 -0.46646411 -0.62716142
  1.30120629 -0.38611546 -0.46646411  0.1361508  -0.5869871   1.62260091
 -1.43064797 -0.10489517  0.33702243 -0.78785873  0.09597647 -1.22977633
  1.18068331  0.97981167 -0.54681277 -0.50663844  0.37719676 -0.98873037
  0.65841705 -0.18524382 -1.35029932  0.01562781 -1.10925335 -0.54681277
  0.53789407  0.2968481   1.14050898  0.49771974 -0.02454651  0.01562781
 -0.26559248 -0.34594113 -0.1450695  -0.78785873  0.01562781  0.25667378
 -1.18960201  0.21649945  1.66277523  0.49771974  0.25667378 -2.03326288
 -0.5869871   0.93963734 -2.27430884 -1.0289047  -0.50663844 -1.87256557
 -0.66733575  0.49771974  0.65841705  0.1361508  -2.03326288  0.33702243
 -0.54681277  0.09597647 -1.0289047   0.09597647 -0.46646411 -0.38611546
  0.61824272  1.38155494  0.01562781 -0.22541815  0.09597647 -1.31012499
  1.30120629 -0.26559248 -0.02454651 -0.62716142 -1.22977633  0.05580214
  0.5780684   0.69859138 -0.94855604  0.2968481  -2.91709808 -0.18524382
 -1.55117095 -0.70751008 -0.90838171  1.94399552  0.1361508   0.5780684
  0.21649945  0.81911436  1.78329822  0.89946301 -0.30576681 -0.06472084
  0.1361508   0.2968481  -1.26995066 -1.06907902 -0.26559248 -0.10489517
  0.09597647  0.21649945 -1.06907902 -2.07343721  0.09597647 -0.94855604
  0.85928869  0.53789407 -1.63151961  0.45754541  0.37719676 -1.06907902
 -0.94855604 -0.18524382  1.06016032  0.25667378 -0.74768441 -0.22541815
 -1.59134528  2.38591312 -1.22977633  0.01562781  0.5780684  -0.46646411
  0.09597647  0.89946301  0.93963734 -1.55117095  1.78329822 -1.06907902
 -0.70751008  0.65841705 -0.70751008 -1.26995066 -0.02454651 -0.22541815
  0.81911436  1.34138061  0.01562781 -1.39047364 -0.38611546  0.61824272
 -0.66733575 -0.30576681  1.22085763  0.97981167  1.58242658  1.42172927
 -0.94855604  1.10033465  1.14050898 -1.0289047   0.49771974  0.85928869
 -0.50663844  0.77894003 -0.50663844 -2.11361153  0.21649945 -0.94855604
 -0.18524382 -0.74768441 -0.1450695   0.33702243 -0.50663844 -0.78785873
  1.70294956  0.45754541 -1.22977633 -0.50663844 -0.42628979  1.50207792
  2.70730774 -0.86820739  0.05580214  0.5780684   1.14050898 -0.10489517
  0.09597647 -0.74768441 -1.22977633  0.53789407  0.05580214 -0.02454651
  1.30120629 -1.39047364 -1.95291422 -0.70751008 -0.22541815  0.1361508
  0.5780684  -0.82803306  0.65841705 -0.62716142 -0.78785873  0.49771974
 -1.22977633 -2.23413452  0.53789407  0.01562781 -0.54681277  0.53789407
 -1.83239124  0.21649945 -0.70751008 -1.9127399  -0.54681277  1.38155494
  0.93963734  1.86364687  1.78329822 -1.55117095 -0.02454651 -1.43064797
 -0.66733575 -1.31012499  0.49771974  1.70294956 -0.06472084  2.30556447
 -0.98873037 -0.78785873  0.17632512  1.14050898  0.69859138 -0.26559248
 -0.82803306 -2.59570346 -0.5869871   0.5780684   1.22085763 -0.10489517
 -0.90838171 -0.82803306 -0.30576681  0.45754541 -0.30576681  0.49771974
  0.41737109 -0.66733575 -0.70751008  0.61824272 -0.38611546  1.10033465
 -0.18524382 -0.54681277 -1.10925335  2.38591312  0.5780684   0.89946301
 -1.75204259 -0.38611546 -1.14942768  0.7387657  -0.30576681 -0.38611546
 -0.62716142  0.65841705  0.69859138  0.85928869  0.05580214 -1.06907902
  1.86364687  0.81911436 -0.50663844  0.45754541 -0.62716142  0.65841705
  0.21649945 -2.27430884 -0.38611546 -1.63151961  0.37719676  0.01562781
 -0.66733575  0.53789407 -1.0289047   1.10033465  0.21649945 -0.70751008
  0.2968481  -0.02454651  1.78329822  0.2968481   0.01562781  1.10033465
 -0.26559248 -0.06472084 -1.26995066 -0.34594113  0.41737109 -1.4708223
  1.34138061 -2.63587779  0.5780684  -0.26559248 -1.75204259 -1.10925335
  0.53789407 -0.78785873  0.33702243 -1.67169393 -2.03326288  0.2968481
  0.37719676  1.18068331  0.69859138  1.66277523 -0.90838171  0.2968481
  0.25667378  0.53789407 -0.38611546 -1.63151961  1.66277523 -0.26559248
  0.5780684   0.17632512  0.5780684   0.41737109  0.93963734  1.9038212
 -0.34594113  0.7387657  -0.5869871   0.1361508  -0.86820739 -0.30576681
  1.10033465  1.06016032 -1.51099662  0.53789407  1.10033465  0.33702243
 -1.51099662  1.54225225  1.30120629 -0.34594113  0.37719676 -1.95291422
  0.17632512 -0.82803306  0.25667378  0.2968481   0.41737109  1.14050898
 -1.71186826  0.41737109 -0.50663844  0.09597647  0.85928869 -0.18524382
  1.019986   -0.30576681  0.2968481  -0.66733575  1.50207792  2.02434418
  0.61824272  0.09597647 -0.1450695   0.61824272  0.45754541 -0.38611546
  0.45754541  2.42608745 -1.10925335  0.09597647 -0.26559248  0.53789407
 -0.34594113  0.01562781  0.37719676  0.21649945  1.30120629 -0.42628979
 -0.78785873 -0.1450695   1.06016032  1.06016032 -0.34594113  0.01562781
 -1.4708223   0.25667378 -0.02454651  0.2968481  -0.18524382 -1.0289047
 -0.98873037 -0.5869871  -1.31012499  1.86364687 -0.50663844  0.17632512
  0.5780684   1.74312389 -0.62716142  0.05580214  0.01562781  1.10033465
 -2.43500615  2.46626178 -1.14942768 -0.54681277  1.54225225  0.61824272
 -0.18524382 -0.18524382 -0.94855604 -0.06472084  0.1361508   1.34138061
  0.61824272  1.10033465 -0.62716142  0.01562781  0.7387657   0.33702243
  1.82347254  2.94835371 -0.46646411 -0.30576681 -0.74768441  0.01562781
  0.93963734 -1.63151961  0.09597647  1.4619036  -0.78785873  1.06016032
 -0.42628979  1.78329822  0.49771974 -1.43064797 -1.35029932  0.05580214
  0.25667378 -0.42628979 -0.42628979 -1.59134528 -0.74768441  1.10033465
  0.37719676 -1.31012499  0.33702243 -1.59134528 -1.43064797  0.01562781
 -0.22541815  1.70294956  0.77894003  0.2968481   1.06016032 -0.98873037
 -1.06907902  0.25667378 -1.06907902  0.89946301 -1.95291422 -0.50663844
 -0.46646411 -0.70751008  0.81911436  0.2968481  -0.1450695   1.34138061
  1.62260091 -1.26995066 -0.34594113 -1.67169393  0.25667378 -0.02454651
  2.30556447  0.1361508   0.69859138  0.01562781 -0.1450695   2.10469283
  0.49771974  0.53789407  0.45754541 -0.34594113 -1.14942768 -1.87256557
  0.61824272  0.69859138  0.41737109  1.019986   -0.30576681  0.1361508
 -1.55117095 -1.43064797 -0.06472084  1.22085763  0.77894003 -0.26559248
  1.98416985 -1.4708223  -1.0289047  -0.74768441  0.41737109 -0.86820739
 -0.90838171  0.05580214  0.77894003 -1.63151961 -0.82803306 -0.98873037
 -0.38611546  0.33702243  0.09597647  2.7876564  -1.75204259  0.77894003
  1.42172927  1.70294956 -0.66733575  0.49771974 -0.5869871   0.7387657
 -0.38611546 -0.10489517 -0.78785873 -1.18960201 -0.82803306 -0.06472084
 -0.22541815  0.93963734  0.89946301 -0.86820739  1.10033465  1.10033465
  0.05580214  0.65841705 -0.38611546  1.34138061 -0.70751008  0.2968481
 -2.47518048 -0.94855604 -0.1450695  -0.02454651  0.65841705  0.7387657
  1.06016032  0.7387657   0.81911436 -0.98873037 -0.26559248  1.10033465
  1.42172927  0.93963734 -0.94855604 -0.38611546  1.26103196 -0.62716142
  0.61824272  2.06451851  0.5780684  -1.18960201  1.30120629 -1.39047364
 -0.10489517 -1.35029932 -0.54681277  1.34138061 -1.22977633  0.1361508
 -1.0289047  -0.62716142  1.14050898 -0.22541815 -0.18524382  0.93963734
 -1.31012499 -0.10489517  1.42172927 -2.19396019 -1.06907902  0.2968481
 -1.10925335  2.66713342  0.09597647  0.85928869  0.81911436 -0.38611546
  2.14486716 -1.14942768  0.69859138  0.2968481  -1.59134528  0.21649945
  0.45754541  0.89946301 -0.38611546  1.06016032 -0.42628979 -1.4708223
  1.54225225 -1.31012499 -0.22541815  0.33702243  0.53789407  0.01562781
  1.26103196  2.50643611 -1.18960201  0.5780684   0.37719676 -0.22541815
 -0.90838171 -1.06907902 -0.46646411 -0.1450695   1.9038212   0.2968481
  0.5780684   0.53789407 -0.90838171  0.65841705 -0.02454651  0.45754541
  1.06016032 -0.02454651 -0.54681277 -0.62716142  1.78329822 -1.87256557
  0.69859138  0.5780684  -1.22977633 -0.22541815 -0.1450695   1.42172927
 -0.74768441  0.17632512 -0.1450695  -0.94855604 -0.34594113 -0.78785873
  1.10033465 -0.50663844 -0.02454651  0.69859138  2.10469283  0.45754541
  0.2968481  -0.46646411 -1.31012499 -0.34594113  0.1361508   1.26103196
 -0.54681277 -1.31012499 -0.90838171  1.50207792 -0.98873037  1.14050898
  2.02434418  1.06016032 -0.98873037  0.09597647]

In [35]:
# not really comparable so let add them to the df or create a data
results_dict = {
    "Equation":z_score,
    "Sklearn":z_score2
}

z_scores = pd.DataFrame(results_dict)

In [37]:
z_scores["diff"] = round(((z_scores.Equation - z_scores.Sklearn)/z_scores.Sklearn)*100,2)

In [38]:
z_scores

     Equation   Sklearn  diff
0    0.497471  0.497720 -0.05
1    1.099784  1.100335 -0.05
2    2.585491  2.586785 -0.05
3   -1.711012 -1.711868 -0.05
4    1.059630  1.060160 -0.05
..        ...       ...   ...
995  1.139939  1.140509 -0.05
996  2.023332  2.024344 -0.05
997  1.059630  1.060160 -0.05
998 -0.988236 -0.988730 -0.05
999  0.095928  0.095976 -0.05

[1000 rows x 3 columns]

## Confidence levels

In [41]:
cl = [0.005, 0.025, 0.05, 0.95, 0.975, 0.995]
for item in cl:
    print(f"the corresponding distribution value for {item} is {np.round(st.norm.ppf(item),2)}") # percent point function

the corresponding distribution value for 0.005 is -2.58
the corresponding distribution value for 0.025 is -1.96
the corresponding distribution value for 0.05 is -1.64
the corresponding distribution value for 0.95 is 1.64
the corresponding distribution value for 0.975 is 1.96
the corresponding distribution value for 0.995 is 2.58

## Confidence levels for large sample

In [45]:
# Compute the confidence interval for the Price KPI
print(f"The mean is {df_pizza.Price.mean()}")
st.norm.interval(confidence=0.95, 
                loc=df_pizza.Price.mean(),
                scale = st.sem(df_pizza.Price)
								 )

The mean is 19.342

(np.float64(19.134648887510703), np.float64(19.549351112489294))

In [49]:
df_pizza.head()
for col in df_pizza:
    print(df_pizza[col].count())

1000
1000
1000
1000
1000
1000

In [ ]:
# Exercice: Using ChatGPT
# Create a function that for each numerical variable that has a sample size 
# bigger than 30, compute the confidence interval for the mean
def compute_confidence_intervals(df, confidence_level=0.95):
    # Store results
    confidence_intervals = {}
    
    # Z-score for the given confidence level
    z = st.norm.ppf((1 + confidence_level) / 2)
    
    # Iterate over each column in the DataFrame
    for col in df.select_dtypes(include=[np.number]):  # Only numerical columns
        sample = df[col].dropna()  # Drop missing values
        n = len(sample)  # Sample size
        
        if n > 30:  # Only if sample size is greater than 30
            mean = sample.mean()  # Sample mean
            std = sample.std()  # Sample standard deviation
            margin_of_error = z * (std / np.sqrt(n))  # Compute margin of error
            
            # Confidence interval
            ci = (mean - margin_of_error, mean + margin_of_error)
            confidence_intervals[col] = ci


    
    return confidence_intervals

In [51]:
compute_confidence_intervals(df=df_pizza)

{'Toppings': (np.float64(3.9017074909279676), np.float64(4.028292509072032)),
 'Price': (np.float64(19.134648887510703), np.float64(19.549351112489294)),
 'Delivery Time': (np.float64(24.9067464105456), np.float64(25.2154535894544)),
 '# pizzas the customer ordered before': (np.float64(5.5065408812039385),
  np.float64(5.811459118796061))}

## Confidence intervals for small samples

In [53]:
# Take a sample from the data
sample = df_pizza.sample(20)
sample.describe()

,Toppings,Price,Delivery Time,# pizzas the customer ordered before
count,20.000000,20.00000,20.000000,20.000000
mean,4.100000,19.20000,25.485000,5.450000
std,1.020836,2.93078,2.648391,2.163696
min,2.000000,15.00000,20.700000,2.000000
25%,3.000000,17.00000,23.900000,3.750000
50%,4.000000,18.50000,25.300000,5.500000
75%,5.000000,21.00000,27.800000,6.250000
max,6.000000,26.00000,29.500000,9.000000

In [54]:
# with the function scipy.stats
st.t.interval(confidence = 0.95, df = len(sample)-1, loc=sample.Price.mean(), scale=st.sem(sample.Price))

(np.float64(17.828352556241295), np.float64(20.571647443758703))

In [55]:
import pandas as pd
import numpy as np
from scipy.stats import norm, t

def compute_confidence_intervals(df, confidence_level=0.95):
    # Store results
    confidence_intervals = {}
    
    for col in df.select_dtypes(include=[np.number]):  # Only numerical columns
        sample = df[col].dropna()  # Drop missing values
        n = len(sample)  # Sample size
        
        if n == 0:  # Skip if no data
            continue
        
        mean = sample.mean()  # Sample mean
        std = sample.std()  # Sample standard deviation
        
        # Select distribution based on sample size
        if n > 30:
            # Use Z-score for normal distribution
            z = norm.ppf((1 + confidence_level) / 2)
            margin_of_error = z * (std / np.sqrt(n))
        else:
            # Use t-score for small samples
            t_score = t.ppf((1 + confidence_level) / 2, df=n-1)
            margin_of_error = t_score * (std / np.sqrt(n))
        
        # Confidence interval
        ci = (mean - margin_of_error, mean + margin_of_error)
        confidence_intervals[col] = ci
    
    return confidence_intervals

In [56]:
compute_confidence_intervals(sample)

{'Toppings': (np.float64(3.6222342461542425), np.float64(4.577765753845757)),
 'Price': (np.float64(17.828352556241295), np.float64(20.571647443758703)),
 'Delivery Time': (np.float64(24.245514964609757),
  np.float64(26.72448503539025)),
 '# pizzas the customer ordered before': (np.float64(4.437359255873281),
  np.float64(6.46264074412672))}