# Money Ball dataset

## Import the modules

In [13]:
import pandas as pd
import numpy as np
import matplotlib as plt
import importlib
import seaborn as sns
import scipy.stats as st

In [ ]:
import helper

In [ ]:
# Reload the latest version
importlib.reload(helper)
helper.load_file()

In [11]:
# Load the data using pandas
df = pd.read_csv("Baseball.csv")
df.head()

,Team,League,Year,RS,RA,W,OBP,SLG,BA,Playoffs,RankSeason,RankPlayoffs,G,OOBP,OSLG
0,ARI,NL,2012,734,688,81,0.328,0.418,0.259,0,NaN,NaN,162,0.317,0.415
1,ATL,NL,2012,700,600,94,0.320,0.389,0.247,1,4.0,5.0,162,0.306,0.378
2,BAL,AL,2012,712,705,93,0.311,0.417,0.247,1,5.0,4.0,162,0.315,0.403
3,BOS,AL,2012,734,806,69,0.315,0.415,0.260,0,NaN,NaN,162,0.331,0.428
4,CHC,NL,2012,613,759,61,0.302,0.378,0.240,0,NaN,NaN,162,0.335,0.424

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1232 entries, 0 to 1231
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Team          1232 non-null   object
 1   League        1232 non-null   object
 2   Year          1232 non-null   int64
 3   RS            1232 non-null   int64
 4   RA            1232 non-null   int64
 5   W             1232 non-null   int64
 6   OBP           1232 non-null   float64
 7   SLG           1232 non-null   float64
 8   BA            1232 non-null   float64
 9   Playoffs      1232 non-null   int64
 10  RankSeason    244 non-null    float64
 11  RankPlayoffs  244 non-null    float64
 12  G             1232 non-null   int64
 13  OOBP          420 non-null    float64
 14  OSLG          420 non-null    float64
dtypes: float64(7), int64(6), object(2)
memory usage: 144.5+ KB

## Mean

In [16]:
mean_rs_col = df.RS.mean()
print(f"The mean of the RS column is {mean_rs_col:.2f}")

The mean of the RS column is 715.08

In [23]:
mean_rs_col_ari = df[df.Team == "ARI"].RS.mean()
print(f"The mean of the RS column for ARIZONA is {mean_rs_col_ari:.2f}")

The mean of the RS column for ARIZONA is 742.20

In [28]:
filter = (df.Team == "ARI") & (df.Year >= 2005)
mean_rs_col_ari_post_2005 = df[filter].RS.mean()
print(f"The mean of the RS column for ARIZONA after 2005 is {mean_rs_col_ari_post_2005:.2f}")

The mean of the RS column for ARIZONA after 2005 is 724.88

In [33]:
df.Year.min()

np.int64(1962)

In [39]:
# What is the average of Runs Allowed by the Chicago Team (CHC)
# average before 2000 and after 2005
filter1 = (df.Team == "CHC") & (df.Year <= 2000)
filter2 = (df.Team == "CHC") & (df.Year >= 2005)
mean_ra_chi_pre_2000 = df[filter1].RA.mean()
mean_ra_chi_post_2005 = df[filter2].RA.mean()
print(f"The mean of the RA column for Chicago before 2000 is {mean_ra_chi_pre_2000:.2f}")
print(f"The mean of the RA column for Chicago after 2005 is {mean_ra_chi_post_2005:.2f}")
print(f"The mean beetween the two is {(mean_ra_chi_pre_2000+mean_ra_chi_post_2005)/2.:2f}")

The mean of the RA column for Chicago before 2000 is 728.54
The mean of the RA column for Chicago after 2005 is 732.88
The mean beetween the two is 730.708929

In [42]:
# average between the two now
filter3 = (df.Team == "CHC") & ((df.Year <= 2000)|(df.Year >= 2005))
mean_ra_chi_2000_2005 = df[filter3].RA.mean()
print(f"The mean of the RA column for Chicago before 2000 and after 2005 is {mean_ra_chi_2000_2005:.2f}")

The mean of the RA column for Chicago before 2000 and after 2005 is 729.35

## Median

In [43]:
df.head()

,Team,League,Year,RS,RA,W,OBP,SLG,BA,Playoffs,RankSeason,RankPlayoffs,G,OOBP,OSLG
0,ARI,NL,2012,734,688,81,0.328,0.418,0.259,0,NaN,NaN,162,0.317,0.415
1,ATL,NL,2012,700,600,94,0.320,0.389,0.247,1,4.0,5.0,162,0.306,0.378
2,BAL,AL,2012,712,705,93,0.311,0.417,0.247,1,5.0,4.0,162,0.315,0.403
3,BOS,AL,2012,734,806,69,0.315,0.415,0.260,0,NaN,NaN,162,0.331,0.428
4,CHC,NL,2012,613,759,61,0.302,0.378,0.240,0,NaN,NaN,162,0.335,0.424

In [44]:
# Mean and medians of wins 
print(f"The mean of wins is {df.W.mean():.2f}")
print(f"The median of wins is {df.W.median():.2f}")

The mean of wins is 80.90
The median of wins is 81.00

In [ ]:
# Exercice: What is the mean of Wins of the Baltimore Team (BAL) until 2000
filter = ((df.Year < 2000) & (df.Team == "BAL"))
wins_bal_mean = df[filter].W.mean()
wins_bal_median = df[filter].W.median()
print(f"The mean of Wins of the Baltimore Team (BAL) until 2000 {wins_bal_mean:.2f}")
print(f"The median of Wins of the Baltimore Team (BAL) until 2000 {wins_bal_median:.2f}")

The mean of Wins of the Baltimore Team (BAL) until 2000 89.50